<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Ihenrygrant">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/ian-grant-7a54711b1">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:Ihenrygrant@gmail.com">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>